@use 'sass:map';
@use '../../styles/abstracts/' as *;

.btn-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background: transparent;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  height: 3rem;
  line-height: unset;
  min-width: 8.8125rem;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 0;
  padding: 12px 20px;
  -webkit-appearance: button;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-decoration-thickness: inherit;
  text-underline-offset: inherit;
  text-transform: none;
  vertical-align: middle;
  width: auto;
}

.btn-loading-container .btn-loading-text {
  margin-left: 5px;
}

element.style {
}
.bd-example > .btn,
.bd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.apj {
  [data-bs-theme='light'] {
    &.btn {
      &.btn-primary {
        color: #{map.get($color-palette, 'white')};
        background-color: #{map.get($color-palette, 'legacy-ocean')};

        &:hover {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-primary-hover}, #{map.get($color-palette, 'legacy-ocean')};
        }

        &:active {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-primary-active}, #{map.get($color-palette, 'legacy-ocean')};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }
      &.btn-secondary {
        color: #{map.get($color-palette, 'legacy-ocean')};
        background: transparent;
        border: 1px solid #{map.get($color-palette, 'legacy-ocean')};

        &:hover {
          @include set-opacity('background', map.get($color-palette, 'legacy-ocean'), 0.1);
          @include set-opacity('border-color', map.get($color-palette, 'legacy-ocean'), 0.1);
          border: 1px solid;
        }

        &:active {
          color: #{map.get($color-palette, 'legacy-ocean')};
          border-color: rgb(0 177 226 / 10%);
          background: rgb(0 177 226 / 10%);
          border: 1px solid;
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
          border: transparent;
        }
      }
      &.btn-tertiary {
        color: #{map.get($color-palette, 'legacy-ocean')};
        background: transparent;

        &:hover {
          @include set-opacity('background', map.get($color-palette, 'legacy-ocean'), 0.1);
          color: #{map.get($color-palette, 'legacy-ocean')};
          border: none;
        }

        &:active {
          @include set-opacity('background', map.get($color-palette, 'legacy-ocean'), 0.2);
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
        }
      }
      &.btn-filled {
        color: #{map.get($color-palette, 'legacy-ocean')};
        background: #{$gradient-filled-bg}, #{map.get($color-palette, 'legacy-ocean')};

        &:hover {
          color: #{map.get($color-palette, 'legacy-ocean')};
          background: #{$gradient-filled-hover}, #{map.get($color-palette, 'legacy-ocean')};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'legacy-ocean')};
          background: #{$gradient-filled-active}, #{map.get($color-palette, 'legacy-ocean')};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }

      &.btn-link {
        color: #{map.get($color-palette, 'legacy-ocean')};
        background: transparent;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;
        min-width: unset;

        &:hover {
          color: #{tint(map.get($color-palette, 'legacy-ocean'), 20%)};
          background: transparent;
          border: none;
          text-decoration: underline;
          text-underline-position: under;
        }

        &:active {
          color: #{shade(map.get($color-palette, 'legacy-ocean'), 20%)};
          background: transparent;
          text-decoration: underline;
          text-underline-position: under;
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
        }
      }

      &.btn-affirmative {
        color: #{map.get($color-palette, 'white')};
        background: #{map.get($color-palette, 'forest')};

        &:hover {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-affirmative-destructive-hover}, #{map.get($color-palette, 'forest')};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-affirmative-destructive-active}, #{map.get($color-palette, 'forest')};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }

      &.btn-destructive {
        color: #{map.get($color-palette, 'white')};
        background: #{map.get($color-palette, 'cherry')};

        &:hover {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-affirmative-destructive-hover}, #{map.get($color-palette, 'cherry')};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'white')};
          background: #{$gradient-affirmative-destructive-active}, #{map.get($color-palette, 'cherry')};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }
    }
  }

  [data-bs-theme='dark'] {
    .btn {
      .btn-primary {
        /* Values from the 'dark' theme primary default */
        color: #{map.get($color-palette, 'legacy-ocean')};
        background-color: #{map.get($color-palette, 'white')};

        &:hover {
          @include set-opacity('color', map.get($color-palette, 'white'), 0.85);
          background: rgb(255 255 255 / 85%), #{map.get($color-palette, 'legacy-ocean')};
        }

        &:active {
          @include set-opacity('color', map.get($color-palette, 'white'), 0.7);
          background: #{rgb(255 255 255 / 70%)}, #{map.get($color-palette, 'legacy-ocean')};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{rgb(228 229 230 / 80%)};
        }
      }
      .btn-secondary {
        /* Values from the 'dark' theme secondary default */
        color: #{map.get($color-palette, 'white')};
        background: transparent;
        border: 1px solid #{map.get($color-palette, 'legacy-ocean')};

        &:hover {
          background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.1)};
          border: 1px solid #{rgba(map.get($color-palette, 'legacy-ocean'), 0.1)};
        }

        &:active {
          color: #{map.get($color-palette, 'legacy-ocean')};
          border-color: #{rgb(0 177 226 / 10%)};
          background: #{rgb(0 177 226 / 10%)};
          border: 1px solid;
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
          border: transparent;
        }
      }
      .btn-tertiary {
        /* Values from the 'dark' theme tertiary default */
        color: #{map.get($color-palette, 'white')};
        background: transparent;

        &:hover {
          background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.1)};
          color: #{map.get($color-palette, 'legacy-ocean')};
          border: none;
        }

        &:active {
          background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.2)};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
        }
      }
      .btn-filled {
        /* Values from the 'dark' theme filled default */
        color: #{map.get($color-palette, 'white')};
        background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.2)};

        &:hover {
          color: #{map.get($color-palette, 'legacy-ocean')};
          background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.1)};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'legacy-ocean')};
          background: #{rgba(map.get($color-palette, 'legacy-ocean'), 0.3)};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }
      .btn-link {
        /* Values from the 'dark' theme link default */
        color: #{map.get($color-palette, 'white')};
        background: transparent;
        text-decoration: none;
        padding-left: 0;
        padding-right: 0;
        min-width: unset;

        &:hover {
          color: #{tint(map.get($color-palette, 'legacy-ocean'), 20%)};
          background: transparent;
          border: none;
          text-decoration: underline;
          text-underline-position: under;
        }

        &:active {
          color: #{shade(map.get($color-palette, 'legacy-ocean'), 20%)};
          background: transparent;
          text-decoration: underline;
          text-underline-position: under;
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: transparent;
        }
      }
      .btn-affirmative {
        /* Values from the 'dark' theme affirmative default */
        color: #{map.get($color-palette, 'forest')};
        background: #{map.get($color-palette, 'white')};

        &:hover {
          color: #{map.get($color-palette, 'forest')};
          background: #{rgba(map.get($color-palette, 'forest'), 0.85)};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'forest')};
          background: #{rgba(map.get($color-palette, 'forest'), 0.7)};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }
      .btn-destructive {
        /* Values from the 'dark' theme destructive default */
        color: #{map.get($color-palette, 'cherry')};
        background: #{map.get($color-palette, 'white')};

        &:hover {
          color: #{map.get($color-palette, 'cherry')};
          background: #{rgba(map.get($color-palette, 'cherry'), 0.85)};
          border: none;
        }

        &:active {
          color: #{map.get($color-palette, 'cherry')};
          background: #{rgba(map.get($color-palette, 'cherry'), 0.7)};
        }

        &:disabled {
          color: #{map.get($color-palette, 'cool-gray-8')};
          background: #{map.get($color-palette, 'neutral-gray-2')};
        }
      }
    }
  }
}

.btn-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-filled {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-tertiary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.2);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-link {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-affirmative {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-destructive {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}
