.btn-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-loading-container .btn-loading-text {
  margin-left: 5px;
}

.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.2), blue);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-filled {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-tertiary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: rgba(255, 255, 255, 0.2);
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-link {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-affirmative {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}

.btn-destructive {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #005758;
  --bs-btn-border-color: none;
  --bs-btn-border-radius: 0.125rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color(#005758, 20%)};
  --bs-btn-hover-border-color: none;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-active-bg: #{shade-color(#005758, 20%)};
  --bs-btn-active-border-color: none;
}
